.aside__container{
    background-color: #00001a;
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    margin: 32px 0;
}

.aside__title{
    color:  #e9ab53;
    font-size: 1.725rem;
    margin-bottom: 10px;
}

.aside__item-title{
    color: #fffdfa;
    margin: 10px 0;
    cursor: pointer;
}

.aside__item-title:hover{
    color: #e9ab53;
    transition-duration: 500ms;
}

.aside__item-desc{
    color: #c5c6ce;
    line-height: 28px;
}

.aside__line{
    margin: 24px 0;
    border-color:  #5d5f79; 
    line-height: 28px;
}   