<section class="aside__container">
    <h2 class="aside__title">{{title}}</h2>

    <div *ngFor="let item of news let i = index">
        <hr *ngIf="i!== 0" class="aside__line" />
        <div class="aside__item">
            <a href="#" target="_blank">
                <h4 class="aside__item-title">
                    {{item.title}}
                </h4>
            </a>
            <p class="aside__item-desc">
                {{item.description}}
            </p>
        </div>
    </div>

    <p>
    </p>
</section>
