<div class="app__container" [ngClass]="{'bg-shadow': isToggle}">

  <header>
    <app-header (toggleEmit)="handleOutput($event)"></app-header>
  </header>

  <main>

    <div class="app__content">
      <app-section [isToggle]="isToggle"></app-section>
      
      <app-aside [news]="news"/>
    </div>

    <div class="app__cards">
      <div *ngFor="let card of cards">
        <app-card
          [cardPicture]="card.cardPicture"
          [cardOrder]="card.cardOrder"
          [cardTitle]="card.cardTitle"
          [cardDesc]="card.cardDescription" />
      </div>

    </div>

  </main>
  <footer>
    <app-footer />
  </footer>

</div>