<div class="section__container"  [ngClass]="{'toggle': isToggle}">
    <div class="picture__wrapper">
        <img src="assets/images/image-web-3-desktop.jpg" alt="Web-3"
           >
    </div>
    <div class="section__wrapper">
        <div class="section__title">
            <h1 class="title"> The Bright Future of Web 3.0?</h1>
        </div>
        <section class="section__content">
            <p class="section__description">
                We dive into the next evolution of the web that claims to put
                the
                power of
                the
                platforms back into the hands of the people.
                But is it really fulfilling its promise?
            </p>
            <div class="read-more">
                <a href="#" class="read-more__link">READ MORE</a>
            </div>
        </section>
    </div>
</div>