<nav class="navbar">
    <div class="navbar__container">
        <a href="#" class="navbar-brand">
            <img src="assets/images/logo.svg" alt="Logo">
        </a>
        <div class="navbar-content">
            <button
                class="bg-color-white btn-menu"
                type="button"
                (click)="onToggleMenu()">
                <i><img [src]="isToggle ? menuOpen : menuClosed "
                        alt="MenuInon"></i>
            </button>
                <div class="navbar-menu  bg-color-white"
                [ngClass]="{'toggleMenu': isToggle}">
                    <ul class="menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link" aria-current="page">Home</a>
                        </li>
                        <li class="nav-item ">
                            <a href="#" class="nav-link">New</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Popular</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Trending</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Categories</a>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
</nav>
