@media screen and (min-width: 769px){

    .btn-menu{
        display: none;
    }
    .navbar-menu{
        display: flex;
        position: initial;
        align-items: center;
        justify-content: end;
        padding: 0;
        height: 0;
        width: 100%;
    }

    .menu{
        display: flex   ;
    }

}